@model StudentQuestionTypeResultVM

<h3>@Model.SubjectName - @Model.QuestionTypeName</h3>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Marks Obtained</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.StudentResults)
        {
            <tr>
                <td>@student.StudentName</td>
                <td>@student.MarksObtained</td>
                <td>@(student.IsPass ? "Pass" : "Failed")</td>
            </tr>
        }
    </tbody>
</table>
