@model StudentQuestionTypeResultVM

<h3>@Model.SubjectName - @Model.QuestionTypeName</h3>

<div id="studentDataGrid" class="table-responsive table-bordered table-striped table-hover"></div>

@Html.Partial("_ResultPopup")

@section Scripts {
    <script>
        var questionTypeId = @Model.QuestionTypeId;
        var studentResults = @Html.Raw(Json.Serialize(Model.StudentResults));
        var selectedStudentId = null;

        $("#studentDataGrid").dxDataGrid({
            dataSource: studentResults,
            columns: [
                {
                    dataField: "studentName",
                    caption: "Student Name",
                    alignment: "left"
                },
                {
                    dataField: "fullMarks",
                    caption: "FM",
                    alignment: "left"
                },
                {
                    dataField: "passMarks",
                    caption: "PM",
                    alignment: "left"
                }, 
                {
                    dataField: "marksObtained",
                    caption: "OM",
                    alignment: "left"
                },
                {
                    dataField: "isPass",
                    caption: "Status",
                    cellTemplate: function (container, options) {
                        $("<span>")
                            .text(options.value ? "Pass" : "Failed")
                            .appendTo(container);
                    }
                },
                 {
                    caption: "Actions",
                    type: "buttons",
                    buttons: [
                        {
                            icon: "bi bi-eye",
                            onClick: function (e) {
                                var studentId = e.row.data.studentId;
                                var questionTypeId = @Model.QuestionTypeId;
                                var url="/Teacher/Question/GetResultDetail/";

                                loadResultContent(studentId, questionTypeId, url);
                            },
                            cssClass: "fs-6 text-success mx-1"
                        }
                    ]
                }
            ],
            paging: {
                pageSize: 5
            },
            pager: {
                visible: true,
                showPageSizeSelector: true,
                allowedPageSizes: [5, 10, 15],
                showNavigationButtons: true,
                displayMode: "compact"
            },
            toolbar: {
                items: [
                    {
                        name: "searchPanel",
                        location: "after"
                    }
                ]
            },
            searchPanel: {
                visible: true,
                width: 200,
                placeholder: "Search..."
            },
            filterRow: {
                visible: false
            },
            onContentReady: function () {
                $(".dx-gridbase-a11y-status-container").hide();
            }
        });


        $(document).on("click", "#cancelDeleteBtn", function () {
            viewPopup.hide();
        });
    </script>
}
