@model StudentQuestionTypeResultVM

<h3>@Model.SubjectName - @Model.QuestionTypeName</h3>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Total Questions</th>
            <th>Total Correct Answers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.StudentResults)
        {
            <tr>
                <td>@student.StudentName</td>
                <td>@student.TotalQuestions</td>
                <td>@student.TotalCorrectAnswers</td>
            </tr>
        }
    </tbody>
</table>
